/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.b3-pattern {
  background-color: #001B74;
}

.b3-logo {
  background-image: url('../../wwwroot/b3-logo.png');
  background-size: 100%;
  height: 50px;
  width: 50px;
}

.label-format0 {
  height: 30px;
  width: 100px;
}

.center-box {
  margin: 0 auto;
  text-align: center;
}

.left-box {
  text-align: left;
}

.btn-positioning0 {
  margin: 10px;
  text-align: left;
  color: #FFF;
  font-weight: bold;
}

  .btn-positioning0:hover {
    color: #a0a0a0;
    box-shadow: 2px 2px 5px #a1a1a1;
  }

.sized300 {
  width: 300px;
}

.buttons-section {
  text-align: right;
}

.vertical-margin50 {
  margin: 50px 0;
}
