<h1>B3 | Cálculo de Investimentos</h1>
<hr />
<p>Bem-vindo à sessão de cálculo de investimentos.</p>
<p>Para começar, por favor informe um valor (em reais) e o período (em meses) para calcular o rendimento.</p>
<div class="left-box sized300 vertical-margin50">
  <div>
    <label for="valor-inicial" class="label-format0">Valor (R$): </label>
    <input numeric type="text" name="valor-inicial" value="" [(ngModel)]="valorInvestimento" />
  </div>
  <div>
    <label for="meses-a-calcular" class="label-format0">Meses: </label>
    <input type="number" min="1" name="meses-a-calcular" value="" [(ngModel)]="mesesCalcular" />
  </div>
  <div class="buttons-section">
    <button type="button" class="btn btn-positioning0 btn-warning" (click)="LimparCampos()">Limpar</button>
    <button type="button" class="btn btn-positioning0 btn-success" (click)="CalcularInvestimento()">Calcular</button>
  </div>
</div>
