<h1>B3 | Cálculo de Investimentos</h1>
<hr />
<p>Bem-vindo à sessão de cálculo de investimentos.</p>
<p>Para começar, por favor informe um valor (em reais) e o período (em meses) para calcular o rendimento.</p>
<div class="left-box sized300 vertical-margin50">
  <div>
    <label for="valor-inicial" class="label-format0">Valor (R$): </label>
    <input type="text" id="valor-inicial" class="money" name="valor-inicial" value="" [(ngModel)]="ValorAplicado" (blur)="BlurValorAplicado()" maxlength="18" />
  </div>
  <div>
    <label for="qtd-meses-investidos" class="label-format0">Meses: </label>
    <input type="text" id="qtd-meses-investidos" name="qtd-meses-investidos" value="" [(ngModel)]="QtdMesesInvestidos" maxlength="3" />
  </div>
  <div class="buttons-section">
    <button type="button" class="btn btn-positioning0 btn-warning" (click)="LimparCampos()">Limpar</button>
    <button type="button" class="btn btn-positioning0 btn-success" (click)="CalcularInvestimento()" [disabled]="ChecarCamposPreenchidos()">Calcular</button>
  </div>
</div>

<div>
  <ng-container *ngIf="investimentosCalculados">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Valor Aplicado</th>
          <th>Valor Bruto</th>
          <th>Valor Líquido</th>
          <th>Rendimento</th>
          <th>Imposto (sob o rendimento)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>R$ {{investimentosCalculados.valorAplicado.toFixed(2)}}</td>
          <td>R$ {{investimentosCalculados.valorBruto.toFixed(2)}}</td>
          <td>R$ {{investimentosCalculados.valorLiquido.toFixed(2)}}</td>
          <td>R$ {{investimentosCalculados.rendimento.toFixed(2)}}</td>
          <td>{{investimentosCalculados.imposto * 100}}% </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
